{
	"globals": {
		"document": true
	},

	"rules": {
		"strict": 0,
		"comma-dangle": 0,
		"no-tabs": 0,
		"indent": [2, "tab", {"SwitchCase": 1}],
		"arrow-parens": [2, "as-needed"],
		"no-underscore-dangle": [2, {"allowAfterThis": true}],
		"max-len": [2, 120, 4, {"ignoreUrls": true}],
		"no-confusing-arrow": [2, {"allowParens": true}],
		"object-curly-spacing": [2, "always"],

		"import/no-extraneous-dependencies": 0,
		"import/no-unresolved": 0,

		"no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
	},

	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true,
			"modules": true
		}
	},

	"parser": "babel-eslint"
}
